In [43]:
import numpy as np
import pandas as pd
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
exm_dt=pd.DataFrame(exam_data,index=labels)
exm_dt = exm_dt.drop(labels=["d","h"], axis=0)

exm_dt.loc['k'] = ['Suresh', 15.5,1,'yes']
exm_dt=exm_dt.drop(labels="attempts",axis=1)
conditions = [
    (exm_dt['score'] < 10),
    (exm_dt['score'] >= 10) ]
values = [0,1]
exm_dt['Success'] = np.select(conditions, values)
print(exm_dt[['name', 'score']])


print(exm_dt)



exm_dt.to_csv("my_data")

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
i      Kevin    8.0
j      Jonas   19.0
k     Suresh   15.5
        name  score qualify  Success
a  Anastasia   12.5     yes        1
b       Dima    9.0      no        0
c  Katherine   16.5     yes        1
e      Emily    9.0      no        0
f    Michael   20.0     yes        1
g    Matthew   14.5     yes        1
i      Kevin    8.0      no        0
j      Jonas   19.0     yes        1
k     Suresh   15.5     yes        1

In [38]:
exm_dt.head(3)

        name  score qualify  Success
a  Anastasia   12.5     yes        1
b       Dima    9.0      no        0
c  Katherine   16.5     yes        1

In [39]:
exm_dt = exm_dt.drop(labels=["d","h"], axis=0)


deja fasakhthom

SyntaxError: invalid syntax (<ipython-input-39-7d7665181c51>, line 4)

In [40]:
print(exm_dt[['name', 'score']])

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
i      Kevin    8.0
j      Jonas   19.0
k     Suresh   15.5

In [41]:
exm_dt.loc['k'] = ['Suresh', 15.5,1,'yes']

In [42]:
exm_dt=exm_dt.drop(labels="attempts",axis=1)

deja mfasakh

SyntaxError: invalid syntax (<ipython-input-42-966cbf0ee8d7>, line 3)

In [ ]:
conditions = [
    (exm_dt['score'] < 10),
    (exm_dt['score'] >= 10) ]
values = [0,1]
exm_dt['Success'] = np.select(conditions, values)